In [1]:
import os 
os.chdir("..")
import pandas as pd
from perlib.datasets import *
from perlib.core.models import prophet as ph

In [2]:
dataset = load_airpassengers()
data = pd.DataFrame(dataset)
data.index = pd.date_range(start="2022-01-01",periods=len(data),freq="d")
data.columns = ["Values"]
data = data.reset_index(names="Tarih")
data

         Tarih  Values
0   2022-01-01  112.00
1   2022-01-02  118.00
2   2022-01-03  132.00
3   2022-01-04  129.00
4   2022-01-05  121.00
..         ...     ...
139 2022-05-20  606.00
140 2022-05-21  508.00
141 2022-05-22  461.00
142 2022-05-23  390.00
143 2022-05-24  432.00

[144 rows x 2 columns]

In [3]:
import numpy as np
#Generating multivariate test data
np.random.seed(42)  
data['Promosyon'] = np.random.randint(0, 2, size=data.shape[0])  
data['Tatil'] = np.where(data['Tarih'].dt.dayofweek > 5, 1, 0)

In [4]:
trainData= data[:-5]

In [5]:
testData = data[-5:]

In [6]:
trainData

         Tarih  Values  Promosyon  Tatil
0   2022-01-01  112.00          0      0
1   2022-01-02  118.00          1      1
2   2022-01-03  132.00          0      0
3   2022-01-04  129.00          0      0
4   2022-01-05  121.00          0      0
..         ...     ...        ...    ...
134 2022-05-15  419.00          0      1
135 2022-05-16  461.00          0      0
136 2022-05-17  472.00          0      0
137 2022-05-18  535.00          0      0
138 2022-05-19  622.00          0      0

[139 rows x 4 columns]

In [7]:
testData

         Tarih  Values  Promosyon  Tatil
139 2022-05-20  606.00          0      0
140 2022-05-21  508.00          1      0
141 2022-05-22  461.00          0      1
142 2022-05-23  390.00          1      0
143 2022-05-24  432.00          1      0

In [11]:
datetime_test_start = pd.to_datetime('2022-05-20')
n_test_hours = 24  
col_y = 'Values'
col_ds = 'Tarih'
cols_feat = ['Promosyon', 'Tatil'] 
metics = ["mape","mae","mse"]

In [12]:
"""
Model training operations are performed with different parameters.
"""
from perlib.forecaster import get_result
results =  get_result(dataFrame=data,
                      y=col_y,
                      modelName="prophet",
                      dateColumn=col_ds,
                      process=False,
                      forecastNumber=n_test_hours,
                      metric=["mape","mae","mse"],
                      forecastingStartDate=datetime_test_start
                      )

DEBUG:cmdstanpy:input tempfile: /var/folders/ww/cmmyl1z12sz3qvbf_c52g5hc0000gn/T/tmpgzg8t__m/nqut9vpm.json
DEBUG:cmdstanpy:input tempfile: /var/folders/ww/cmmyl1z12sz3qvbf_c52g5hc0000gn/T/tmpgzg8t__m/75_58lzj.json
DEBUG:cmdstanpy:idx 0
DEBUG:cmdstanpy:running CmdStan, num_threads: None
DEBUG:cmdstanpy:CmdStan args: ['/Users/ruzgarkanar/miniforge3/lib/python3.10/site-packages/prophet/stan_model/prophet_model.bin', 'random', 'seed=5230', 'data', 'file=/var/folders/ww/cmmyl1z12sz3qvbf_c52g5hc0000gn/T/tmpgzg8t__m/nqut9vpm.json', 'init=/var/folders/ww/cmmyl1z12sz3qvbf_c52g5hc0000gn/T/tmpgzg8t__m/75_58lzj.json', 'output', 'file=/var/folders/ww/cmmyl1z12sz3qvbf_c52g5hc0000gn/T/tmpgzg8t__m/prophet_modelpo5xzwy2/prophet_model-20240313214203.csv', 'method=optimize', 'algorithm=lbfgs', 'iter=10000']
21:42:03 - cmdstanpy - INFO - Chain [1] start processing
INFO:cmdstanpy:Chain [1] start processing

21:42:03 - cmdstanpy - INFO - Chain [1] done processing
INFO:cmdstanpy:Chain [1] done processing

Model saved as models/Data-Prophet-2024-03-13-21-42-03.pkl

In [13]:
results

(          ds  actual   yhat  yhat_lower  yhat_upper
 0 2022-05-20  606.00 524.55      474.83      574.59
 1 2022-05-21  508.00 538.83      486.77      590.62
 2 2022-05-22  461.00 554.60      501.39      604.52
 3 2022-05-23  390.00 565.56      510.15      619.26
 4 2022-05-24  432.00 579.68      528.45      631.81,
 {'mean_absolute_percentage_error': 23.802628547342817,
  'mean_absolute_error': 105.82349148369708,
  'mean_squared_error': 13795.120856587717})

In [10]:
prophet_model = ph.ProphetModel(dfnow=trainData, n_test_hours=n_test_hours,
                             datetime_test_start=datetime_test_start,
                             col_y=col_y, col_ds=col_ds, cols_feat=cols_feat,metric=metics)

In [11]:
forecast,calc = prophet_model.validate_singletrain()

DEBUG:cmdstanpy:input tempfile: /var/folders/ww/cmmyl1z12sz3qvbf_c52g5hc0000gn/T/tmp71ox3tt3/rbcn9j0q.json
DEBUG:cmdstanpy:input tempfile: /var/folders/ww/cmmyl1z12sz3qvbf_c52g5hc0000gn/T/tmp71ox3tt3/6k3ujnwx.json
DEBUG:cmdstanpy:idx 0

DEBUG:cmdstanpy:running CmdStan, num_threads: None
DEBUG:cmdstanpy:CmdStan args: ['/Users/ruzgarkanar/miniforge3/lib/python3.10/site-packages/prophet/stan_model/prophet_model.bin', 'random', 'seed=9399', 'data', 'file=/var/folders/ww/cmmyl1z12sz3qvbf_c52g5hc0000gn/T/tmp71ox3tt3/rbcn9j0q.json', 'init=/var/folders/ww/cmmyl1z12sz3qvbf_c52g5hc0000gn/T/tmp71ox3tt3/6k3ujnwx.json', 'output', 'file=/var/folders/ww/cmmyl1z12sz3qvbf_c52g5hc0000gn/T/tmp71ox3tt3/prophet_modelzsszdkr_/prophet_model-20240313210139.csv', 'method=optimize', 'algorithm=lbfgs', 'iter=10000']
21:01:39 - cmdstanpy - INFO - Chain [1] start processing
INFO:cmdstanpy:Chain [1] start processing
21:01:39 - cmdstanpy - INFO - Chain [1] done processing
INFO:cmdstanpy:Chain [1] done processing

Model saved as models/Data-Prophet-2024-03-13-21-01-38.pkl

In [12]:
forecast

In [13]:
calc

'No test data and missing future values for additional regressors.'

In [14]:
testData = testData.rename(columns={"Tarih":"ds","Values":"y"})

In [15]:
testData

            ds      y  Promosyon  Tatil
139 2022-05-20 606.00          0      0
140 2022-05-21 508.00          1      0
141 2022-05-22 461.00          0      1
142 2022-05-23 390.00          1      0
143 2022-05-24 432.00          1      0

In [16]:
prophet_model.make_future_predictions(model_or_path = prophet_model.model,testData=testData)

          ds   yhat  yhat_lower  yhat_upper
0 2022-05-20 538.74      484.39      591.91
1 2022-05-21 566.04      517.06      621.01
2 2022-05-22 581.02      526.75      629.76
3 2022-05-23 604.49      550.79      654.29
4 2022-05-24 624.67      576.42      677.79